body {
margin: 0;
padding: 0;
}
table{
	border-collapse: collapse;
}
table tr {
		 border: 1px solid #000;
}
 table th, td{
 	font-size: 8px;
 	width:60px;
 	height:14px;
 }
 table th{
 	background: #FFA100;
 	text-align: left;
 }
table td{
	text-align: right;
}
